{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 0.01%, not dead",
          "node": 10
        }
      }
    ],
    "@babel/preset-react"
  ]
}
